.top-nav{
    background-color:#253858 ;
    height:3rem;
    margin-top: 2%;
    
   
}

.top-nav a{
     color: white;
    text-decoration: none;
    padding: 14px 16px;
   float: right;
   font-size: 18px;
   text-align: center; 
}




